.back { background-color: lightgray; }

            .back.card-1 { background-image: url(5fa8f807972bcd05b41ead2d.image.postageCN1.png); }
        
                .back.matching.card-1 { background-image: url(5fa8f807972bcd05b41ead2d.image.postageUS1.png); }
            
            .back.card-2 { background-image: url(5fa8f807972bcd05b41ead2e.image.postageCN1.png); }
        
                .back.matching.card-2 { background-image: url(5fa8f807972bcd05b41ead2e.image.postageUS1.png); }
            
            .back.card-3 { background-image: url(5fa8f808972bcd05b41ead2f.image.postageCN1.png); }
        
                .back.matching.card-3 { background-image: url(5fa8f808972bcd05b41ead2f.image.postageUS1.png); }
            
            .back.card-4 { background-image: url(5fa8f808972bcd05b41ead30.image.postageCN1.png); }
        
                .back.matching.card-4 { background-image: url(5fa8f808972bcd05b41ead30.image.postageUS1.png); }
            
            .back.card-5 { background-image: url(5fa8f808972bcd05b41ead31.image.postageCN1.png); }
        
                .back.matching.card-5 { background-image: url(5fa8f808972bcd05b41ead31.image.postageUS1.png); }
            
            .back.card-6 { background-image: url(5fa8f808972bcd05b41ead32.image.postageCN1.png); }
        
                .back.matching.card-6 { background-image: url(5fa8f808972bcd05b41ead32.image.postageUS1.png); }
            
            .back.card-7 { background-image: url(5fa8f808972bcd05b41ead33.image.postageCN1.png); }
        
                .back.matching.card-7 { background-image: url(5fa8f808972bcd05b41ead33.image.postageUS1.png); }
            
            .back.card-8 { background-image: url(5fa8f808972bcd05b41ead34.image.postageCN1.png); }
        
                .back.matching.card-8 { background-image: url(5fa8f808972bcd05b41ead34.image.postageUS1.png); }
            
            .back.card-9 { background-image: url(5fa8f808972bcd05b41ead35.image.postageCN1.png); }
        
                .back.matching.card-9 { background-image: url(5fa8f808972bcd05b41ead35.image.postageUS1.png); }
            
            .back.card-10 { background-image: url(5fa8f808972bcd05b41ead36.image.postageCN1.png); }
        
                .back.matching.card-10 { background-image: url(5fa8f808972bcd05b41ead36.image.postageUS1.png); }
            
            .back.card-11 { background-image: url(5fa8f808972bcd05b41ead37.image.postageCN1.png); }
        
                .back.matching.card-11 { background-image: url(5fa8f808972bcd05b41ead37.image.postageUS1.png); }
            
            .back.card-12 { background-image: url(5fa8f809972bcd05b41ead38.image.postageCN1.png); }
        
                .back.matching.card-12 { background-image: url(5fa8f809972bcd05b41ead38.image.postageUS1.png); }
            
