
            .back.card-1 { background-image: url(5e8dace2ebcacede29732460.image.bucket.png); }
        
                .back.matching.card-1 { background-image: url(5e8dace2ebcacede29732460.pinyin.png); }
            
            .back.card-2 { background-image: url(5e8dace2ebcacede2973245c.image.bucket.png); }
        
                .back.matching.card-2 { background-image: url(5e8dace2ebcacede2973245c.pinyin.png); }
            
            .back.card-3 { background-image: url(5e8dace2ebcacede29732462.image.bucket.png); }
        
                .back.matching.card-3 { background-image: url(5e8dace2ebcacede29732462.pinyin.png); }
            
            .back.card-4 { background-image: url(5e8dace2ebcacede2973245a.image.bucket.png); }
        
                .back.matching.card-4 { background-image: url(5e8dace2ebcacede2973245a.pinyin.png); }
            
            .back.card-5 { background-image: url(5e8dace2ebcacede29732458.image.bucket.png); }
        
                .back.matching.card-5 { background-image: url(5e8dace2ebcacede29732458.pinyin.png); }
            
            .back.card-6 { background-image: url(5e8dace2ebcacede2973245e.image.bucket.png); }
        
                .back.matching.card-6 { background-image: url(5e8dace2ebcacede2973245e.pinyin.png); }
            
            .back.card-7 { background-image: url(5e8dace2ebcacede29732457.image.bucket.png); }
        
                .back.matching.card-7 { background-image: url(5e8dace2ebcacede29732457.pinyin.png); }
            
            .back.card-8 { background-image: url(5e8dace2ebcacede29732461.image.bucket.png); }
        
                .back.matching.card-8 { background-image: url(5e8dace2ebcacede29732461.pinyin.png); }
            
            .back.card-9 { background-image: url(5e8dace2ebcacede29732459.image.bucket.png); }
        
                .back.matching.card-9 { background-image: url(5e8dace2ebcacede29732459.pinyin.png); }
            
            .back.card-10 { background-image: url(5e8dace2ebcacede2973245d.image.bucket.png); }
        
                .back.matching.card-10 { background-image: url(5e8dace2ebcacede2973245d.pinyin.png); }
            
            .back.card-11 { background-image: url(5e8dace2ebcacede2973245b.image.bucket.png); }
        
                .back.matching.card-11 { background-image: url(5e8dace2ebcacede2973245b.pinyin.png); }
            
            .back.card-12 { background-image: url(5e8dace2ebcacede2973245f.image.bucket.png); }
        
                .back.matching.card-12 { background-image: url(5e8dace2ebcacede2973245f.pinyin.png); }
            
