
            .back.card-1 { background-image: url(5e9cda0b037c6b87b73250f7.image.regular.png); }
        
                .back.matching.card-1 { background-image: url(5e9cda0b037c6b87b73250f7.pinyin.png); }
            
            .back.card-2 { background-image: url(5e9cda0c037c6b87b73250f8.image.regular.png); }
        
                .back.matching.card-2 { background-image: url(5e9cda0c037c6b87b73250f8.pinyin.png); }
            
            .back.card-3 { background-image: url(5e8dab8369c2516911ea4532.image.regular.png); }
        
                .back.matching.card-3 { background-image: url(5e8dab8369c2516911ea4532.pinyin.png); }
            
            .back.card-4 { background-image: url(5e9cda0d037c6b87b73250f9.image.regular.png); }
        
                .back.matching.card-4 { background-image: url(5e9cda0d037c6b87b73250f9.pinyin.png); }
            
            .back.card-5 { background-image: url(5e9cda0d037c6b87b73250fa.image.regular.png); }
        
                .back.matching.card-5 { background-image: url(5e9cda0d037c6b87b73250fa.pinyin.png); }
            
            .back.card-6 { background-image: url(5e9cda0d037c6b87b73250fb.image.regular.png); }
        
                .back.matching.card-6 { background-image: url(5e9cda0d037c6b87b73250fb.pinyin.png); }
            
            .back.card-7 { background-image: url(5e9cda0e037c6b87b73250fc.image.regular.png); }
        
                .back.matching.card-7 { background-image: url(5e9cda0e037c6b87b73250fc.pinyin.png); }
            
            .back.card-8 { background-image: url(5e9cda0e037c6b87b73250fd.image.regular.png); }
        
                .back.matching.card-8 { background-image: url(5e9cda0e037c6b87b73250fd.pinyin.png); }
            
