
            .back.card-1 { background-image: url(5e9cd3b0c9c8767483d7747b.image.png); }
        
                .back.matching.card-1 { background-image: url(5e9cd3b0c9c8767483d7747b.card.png); }
            
            .back.card-2 { background-image: url(5e9cd3b2c9c8767483d7747d.image.png); }
        
                .back.matching.card-2 { background-image: url(5e9cd3b2c9c8767483d7747d.card.png); }
            
            .back.card-3 { background-image: url(5e8db08a26af9d56f020f497.image.png); }
        
                .back.matching.card-3 { background-image: url(5e8db08a26af9d56f020f497.card.png); }
            
            .back.card-4 { background-image: url(5e8db08a26af9d56f020f494.image.png); }
        
                .back.matching.card-4 { background-image: url(5e8db08a26af9d56f020f494.card.png); }
            
            .back.card-5 { background-image: url(5e8db08a26af9d56f020f495.image.png); }
        
                .back.matching.card-5 { background-image: url(5e8db08a26af9d56f020f495.card.png); }
            
            .back.card-6 { background-image: url(5e8db08a26af9d56f020f496.image.png); }
        
                .back.matching.card-6 { background-image: url(5e8db08a26af9d56f020f496.card.png); }
            
            .back.card-7 { background-image: url(5e9cd3bdc9c8767483d77488.image.png); }
        
                .back.matching.card-7 { background-image: url(5e9cd3bdc9c8767483d77488.card.png); }
            
            .back.card-8 { background-image: url(5e9cd3bec9c8767483d77489.image.png); }
        
                .back.matching.card-8 { background-image: url(5e9cd3bec9c8767483d77489.card.png); }
            
            .back.card-9 { background-image: url(5e9cd3bfc9c8767483d7748a.image.png); }
        
                .back.matching.card-9 { background-image: url(5e9cd3bfc9c8767483d7748a.card.png); }
            
            .back.card-10 { background-image: url(5e9cd3c0c9c8767483d7748b.image.png); }
        
                .back.matching.card-10 { background-image: url(5e9cd3c0c9c8767483d7748b.card.png); }
            
            .back.card-11 { background-image: url(5e9cd3c1c9c8767483d7748c.image.png); }
        
                .back.matching.card-11 { background-image: url(5e9cd3c1c9c8767483d7748c.card.png); }
            
            .back.card-12 { background-image: url(5e9cd3c2c9c8767483d7748d.image.png); }
        
                .back.matching.card-12 { background-image: url(5e9cd3c2c9c8767483d7748d.card.png); }
            
