
            .back.card-1 { background-image: url(5fa8f807972bcd05b41ead2d.image.png); }
        
            .back.card-2 { background-image: url(5fa8f807972bcd05b41ead2e.image.png); }
        
            .back.card-3 { background-image: url(5fa8f808972bcd05b41ead2f.image.png); }
        
            .back.card-4 { background-image: url(5fa8f808972bcd05b41ead30.image.png); }
        
            .back.card-5 { background-image: url(5fa8f808972bcd05b41ead31.image.png); }
        
            .back.card-6 { background-image: url(5fa8f808972bcd05b41ead32.image.png); }
        
            .back.card-7 { background-image: url(5fa8f808972bcd05b41ead33.image.png); }
        
            .back.card-8 { background-image: url(5fa8f808972bcd05b41ead34.image.png); }
        
            .back.card-9 { background-image: url(5fa8f808972bcd05b41ead35.image.png); }
        
            .back.card-10 { background-image: url(5fa8f808972bcd05b41ead36.image.png); }
        
            .back.card-11 { background-image: url(5fa8f808972bcd05b41ead37.image.png); }
        
            .back.card-12 { background-image: url(5fa8f809972bcd05b41ead38.image.png); }
        
