
            .back.card-1 { background-image: url(5e9cc6ec83dd7905aa16c67f.image.png); }
        
                .back.matching.card-1 { background-image: url(5e9cc6ec83dd7905aa16c67f.card.png); }
            
            .back.card-2 { background-image: url(5e9cc6ec83dd7905aa16c680.image.png); }
        
                .back.matching.card-2 { background-image: url(5e9cc6ec83dd7905aa16c680.card.png); }
            
            .back.card-3 { background-image: url(5e8dafd4fe028112aa073e72.image.png); }
        
                .back.matching.card-3 { background-image: url(5e8dafd4fe028112aa073e72.card.png); }
            
            .back.card-4 { background-image: url(5e8dafd4fe028112aa073e6e.image.png); }
        
                .back.matching.card-4 { background-image: url(5e8dafd4fe028112aa073e6e.card.png); }
            
            .back.card-5 { background-image: url(5e9cc6ee83dd7905aa16c681.image.png); }
        
                .back.matching.card-5 { background-image: url(5e9cc6ee83dd7905aa16c681.card.png); }
            
            .back.card-6 { background-image: url(5e9cc6ee83dd7905aa16c682.image.png); }
        
                .back.matching.card-6 { background-image: url(5e9cc6ee83dd7905aa16c682.card.png); }
            
            .back.card-7 { background-image: url(5e9cc6ee83dd7905aa16c683.image.png); }
        
                .back.matching.card-7 { background-image: url(5e9cc6ee83dd7905aa16c683.card.png); }
            
            .back.card-8 { background-image: url(5e9cc6ef83dd7905aa16c684.image.png); }
        
                .back.matching.card-8 { background-image: url(5e9cc6ef83dd7905aa16c684.card.png); }
            
            .back.card-9 { background-image: url(5e9cc6ef83dd7905aa16c685.image.png); }
        
                .back.matching.card-9 { background-image: url(5e9cc6ef83dd7905aa16c685.card.png); }
            
            .back.card-10 { background-image: url(5e8dafd4fe028112aa073e6f.image.png); }
        
                .back.matching.card-10 { background-image: url(5e8dafd4fe028112aa073e6f.card.png); }
            
            .back.card-11 { background-image: url(5e9cc6f083dd7905aa16c686.image.png); }
        
                .back.matching.card-11 { background-image: url(5e9cc6f083dd7905aa16c686.card.png); }
            
            .back.card-12 { background-image: url(5e8dafd4fe028112aa073e73.image.png); }
        
                .back.matching.card-12 { background-image: url(5e8dafd4fe028112aa073e73.card.png); }
            
