
            .back.card-1 { background-image: url(5ec1d06b5f5aaa74c006596a.image.png); }
        
                .back.matching.card-1 { background-image: url(5ec1d06b5f5aaa74c006596a.card.png); }
            
            .back.card-2 { background-image: url(5e8dad947aa6d6552ebb39b4.image.png); }
        
                .back.matching.card-2 { background-image: url(5e8dad947aa6d6552ebb39b4.card.png); }
            
            .back.card-3 { background-image: url(5e8dad947aa6d6552ebb39b3.image.png); }
        
                .back.matching.card-3 { background-image: url(5e8dad947aa6d6552ebb39b3.card.png); }
            
            .back.card-4 { background-image: url(5e8dad947aa6d6552ebb39ab.image.png); }
        
                .back.matching.card-4 { background-image: url(5e8dad947aa6d6552ebb39ab.card.png); }
            
            .back.card-5 { background-image: url(5ec1d0725f5aaa74c006596b.image.png); }
        
                .back.matching.card-5 { background-image: url(5ec1d0725f5aaa74c006596b.card.png); }
            
            .back.card-6 { background-image: url(5ec1d0725f5aaa74c006596c.image.png); }
        
                .back.matching.card-6 { background-image: url(5ec1d0725f5aaa74c006596c.card.png); }
            
            .back.card-7 { background-image: url(5ec1d0725f5aaa74c006596d.image.png); }
        
                .back.matching.card-7 { background-image: url(5ec1d0725f5aaa74c006596d.card.png); }
            
            .back.card-8 { background-image: url(5ec1d0735f5aaa74c006596e.image.png); }
        
                .back.matching.card-8 { background-image: url(5ec1d0735f5aaa74c006596e.card.png); }
            
            .back.card-9 { background-image: url(5e8dad947aa6d6552ebb39ac.image.png); }
        
                .back.matching.card-9 { background-image: url(5e8dad947aa6d6552ebb39ac.card.png); }
            
            .back.card-10 { background-image: url(5ec1d0745f5aaa74c006596f.image.png); }
        
                .back.matching.card-10 { background-image: url(5ec1d0745f5aaa74c006596f.card.png); }
            
            .back.card-11 { background-image: url(5ec1d0745f5aaa74c0065970.image.png); }
        
                .back.matching.card-11 { background-image: url(5ec1d0745f5aaa74c0065970.card.png); }
            
            .back.card-12 { background-image: url(5ec1d0755f5aaa74c0065971.image.png); }
        
                .back.matching.card-12 { background-image: url(5ec1d0755f5aaa74c0065971.card.png); }
            
