
            .back.card-1 { background-image: url(5e9ccac2d50a14ecf823ab95.image.png); }
        
                .back.matching.card-1 { background-image: url(5e9ccac2d50a14ecf823ab95.card.png); }
            
            .back.card-2 { background-image: url(5e9ccac3d50a14ecf823ab96.image.png); }
        
                .back.matching.card-2 { background-image: url(5e9ccac3d50a14ecf823ab96.card.png); }
            
            .back.card-3 { background-image: url(5e9ccac4d50a14ecf823ab97.image.png); }
        
                .back.matching.card-3 { background-image: url(5e9ccac4d50a14ecf823ab97.card.png); }
            
            .back.card-4 { background-image: url(5e9ccac5d50a14ecf823ab98.image.png); }
        
                .back.matching.card-4 { background-image: url(5e9ccac5d50a14ecf823ab98.card.png); }
            
            .back.card-5 { background-image: url(5e9ccac6d50a14ecf823ab99.image.png); }
        
                .back.matching.card-5 { background-image: url(5e9ccac6d50a14ecf823ab99.card.png); }
            
            .back.card-6 { background-image: url(5e9cd58217c76e7d6c69f908.image.png); }
        
                .back.matching.card-6 { background-image: url(5e9cd58217c76e7d6c69f908.card.png); }
            
            .back.card-7 { background-image: url(5e8dad1da5b7500807899dbf.image.png); }
        
                .back.matching.card-7 { background-image: url(5e8dad1da5b7500807899dbf.card.png); }
            
            .back.card-8 { background-image: url(5e8dad1da5b7500807899dc0.image.png); }
        
                .back.matching.card-8 { background-image: url(5e8dad1da5b7500807899dc0.card.png); }
            
            .back.card-9 { background-image: url(5e8dad1da5b7500807899dc1.image.png); }
        
                .back.matching.card-9 { background-image: url(5e8dad1da5b7500807899dc1.card.png); }
            
            .back.card-10 { background-image: url(5e8dad1da5b7500807899dc2.image.png); }
        
                .back.matching.card-10 { background-image: url(5e8dad1da5b7500807899dc2.card.png); }
            
            .back.card-11 { background-image: url(5e8dad1da5b7500807899dc3.image.png); }
        
                .back.matching.card-11 { background-image: url(5e8dad1da5b7500807899dc3.card.png); }
            
            .back.card-12 { background-image: url(5e8dad1da5b7500807899dc4.image.png); }
        
                .back.matching.card-12 { background-image: url(5e8dad1da5b7500807899dc4.card.png); }
            
            .back.card-13 { background-image: url(5e8dad1da5b7500807899dc5.image.png); }
        
                .back.matching.card-13 { background-image: url(5e8dad1da5b7500807899dc5.card.png); }
            
