
            .back.card-1 { background-image: url(5e8dace2ebcacede29732460.image.png); }
        
            .back.card-2 { background-image: url(5e8dace2ebcacede2973245c.image.png); }
        
            .back.card-3 { background-image: url(5e8dace2ebcacede29732462.image.png); }
        
            .back.card-4 { background-image: url(5e8dace2ebcacede2973245a.image.png); }
        
            .back.card-5 { background-image: url(5e8dace2ebcacede29732458.image.png); }
        
            .back.card-6 { background-image: url(5e8dace2ebcacede2973245e.image.png); }
        
            .back.card-7 { background-image: url(5e8dace2ebcacede29732457.image.png); }
        
            .back.card-8 { background-image: url(5e8dace2ebcacede29732461.image.png); }
        
            .back.card-9 { background-image: url(5e8dace2ebcacede29732459.image.png); }
        
            .back.card-10 { background-image: url(5e8dace2ebcacede2973245d.image.png); }
        
            .back.card-11 { background-image: url(5e8dace2ebcacede2973245b.image.png); }
        
            .back.card-12 { background-image: url(5e8dace2ebcacede2973245f.image.png); }
        
