
            .back.card-1 { background-image: url(5e9cda08037c6b87b73250f1.image.regular.png); }
        
                .back.matching.card-1 { background-image: url(5e9cda08037c6b87b73250f1.pinyin.png); }
            
            .back.card-2 { background-image: url(5e9cda09037c6b87b73250f2.image.regular.png); }
        
                .back.matching.card-2 { background-image: url(5e9cda09037c6b87b73250f2.pinyin.png); }
            
            .back.card-3 { background-image: url(5e9cda09037c6b87b73250f3.image.regular.png); }
        
                .back.matching.card-3 { background-image: url(5e9cda09037c6b87b73250f3.pinyin.png); }
            
            .back.card-4 { background-image: url(5e9cda09037c6b87b73250f4.image.regular.png); }
        
                .back.matching.card-4 { background-image: url(5e9cda09037c6b87b73250f4.pinyin.png); }
            
            .back.card-5 { background-image: url(5e8dab8369c2516911ea4531.image.regular.png); }
        
                .back.matching.card-5 { background-image: url(5e8dab8369c2516911ea4531.pinyin.png); }
            
            .back.card-6 { background-image: url(5e8dab8369c2516911ea4530.image.regular.png); }
        
                .back.matching.card-6 { background-image: url(5e8dab8369c2516911ea4530.pinyin.png); }
            
            .back.card-7 { background-image: url(5e9cda0b037c6b87b73250f5.image.regular.png); }
        
                .back.matching.card-7 { background-image: url(5e9cda0b037c6b87b73250f5.pinyin.png); }
            
            .back.card-8 { background-image: url(5e9cda0b037c6b87b73250f6.image.regular.png); }
        
                .back.matching.card-8 { background-image: url(5e9cda0b037c6b87b73250f6.pinyin.png); }
            
