
            .back.card-1 { background-image: url(5e9cda08037c6b87b73250f1.image.png); }
        
            .back.card-2 { background-image: url(5e9cda09037c6b87b73250f2.image.png); }
        
            .back.card-3 { background-image: url(5e9cda09037c6b87b73250f3.image.png); }
        
            .back.card-4 { background-image: url(5e9cda09037c6b87b73250f4.image.png); }
        
            .back.card-5 { background-image: url(5e8dab8369c2516911ea4531.image.png); }
        
            .back.card-6 { background-image: url(5e8dab8369c2516911ea4530.image.png); }
        
            .back.card-7 { background-image: url(5e9cda0b037c6b87b73250f5.image.png); }
        
            .back.card-8 { background-image: url(5e9cda0b037c6b87b73250f6.image.png); }
        
