
            .back.card-1 { background-image: url(5e9cda08037c6b87b73250f1.image.regular.png); }
        
            .back.card-2 { background-image: url(5e9cda09037c6b87b73250f2.image.regular.png); }
        
            .back.card-3 { background-image: url(5e9cda09037c6b87b73250f3.image.regular.png); }
        
            .back.card-4 { background-image: url(5e9cda09037c6b87b73250f4.image.regular.png); }
        
            .back.card-5 { background-image: url(5e8dab8369c2516911ea4531.image.regular.png); }
        
            .back.card-6 { background-image: url(5e8dab8369c2516911ea4530.image.regular.png); }
        
            .back.card-7 { background-image: url(5e9cda0b037c6b87b73250f5.image.regular.png); }
        
            .back.card-8 { background-image: url(5e9cda0b037c6b87b73250f6.image.regular.png); }
        
            .back.card-9 { background-image: url(5e9cda0b037c6b87b73250f7.image.regular.png); }
        
            .back.card-10 { background-image: url(5e9cda0c037c6b87b73250f8.image.regular.png); }
        
            .back.card-11 { background-image: url(5e8dab8369c2516911ea4532.image.regular.png); }
        
            .back.card-12 { background-image: url(5e9cda0d037c6b87b73250f9.image.regular.png); }
        
            .back.card-13 { background-image: url(5e9cda0d037c6b87b73250fa.image.regular.png); }
        
            .back.card-14 { background-image: url(5e9cda0d037c6b87b73250fb.image.regular.png); }
        
            .back.card-15 { background-image: url(5e9cda0e037c6b87b73250fc.image.regular.png); }
        
            .back.card-16 { background-image: url(5e9cda0e037c6b87b73250fd.image.regular.png); }
        
