
            .back.card-1 { background-image: url(5eb791ab14a1892be47ea89b.image.png); }
        
                .back.matching.card-1 { background-image: url(5eb791ab14a1892be47ea89b.card.png); }
            
            .back.card-2 { background-image: url(5eb791aa14a1892be47ea89a.image.png); }
        
                .back.matching.card-2 { background-image: url(5eb791aa14a1892be47ea89a.card.png); }
            
            .back.card-3 { background-image: url(5eb791ab14a1892be47ea89c.image.png); }
        
                .back.matching.card-3 { background-image: url(5eb791ab14a1892be47ea89c.card.png); }
            
            .back.card-4 { background-image: url(5eb791ac14a1892be47ea89d.image.png); }
        
                .back.matching.card-4 { background-image: url(5eb791ac14a1892be47ea89d.card.png); }
            
            .back.card-5 { background-image: url(5eb791ac14a1892be47ea89e.image.png); }
        
                .back.matching.card-5 { background-image: url(5eb791ac14a1892be47ea89e.card.png); }
            
            .back.card-6 { background-image: url(5eb791ac14a1892be47ea89f.image.png); }
        
                .back.matching.card-6 { background-image: url(5eb791ac14a1892be47ea89f.card.png); }
            
            .back.card-7 { background-image: url(5eb791ad14a1892be47ea8a0.image.png); }
        
                .back.matching.card-7 { background-image: url(5eb791ad14a1892be47ea8a0.card.png); }
            
            .back.card-8 { background-image: url(5eb791ad14a1892be47ea8a1.image.png); }
        
                .back.matching.card-8 { background-image: url(5eb791ad14a1892be47ea8a1.card.png); }
            
            .back.card-9 { background-image: url(5eb791ae14a1892be47ea8a2.image.png); }
        
                .back.matching.card-9 { background-image: url(5eb791ae14a1892be47ea8a2.card.png); }
            
